<h1>マイページ</h1>
  <% @users.each do |user| %>
<%= image_tag "#{user.dishes.first.image}".to_s %>
  <% end %>
<table class="table">
  <tbody class="p-3">
    <tr>
      <th>Eメール</th>
      <td><%= @current_user.email %></td>
    </tr> 
    <tr>
      <th>ユーザー名</th>
      <td><%= @current_user.name %></td>
    </tr> 
  </tbody>
</table>