<div class="d-flex align-items-center">
  <h1>料理編集</h1>
  <div class="ml-auto dishes__linkBox">
    <%= link_to '料理一覧', dishes_path, class: 'btn btn-outline-dark'  %>
  </div>
</div>
<%= render partial: 'form', locals: { dish: @dish } %>
