<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ml-auto dishes__linkBox">
    <%= link_to '料理一覧', dishes_path, class: 'btn btn-outline-dark'  %>
    <%= link_to '編集', edit_dish_path(@dish), class: 'btn btn-outline-dark' %>
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-primary"><%= flash[:notice] %></div>
<% end %>

<%= render @dish %>
