.dishes_table {
  tr.hover {
    cursor: pointer;
  }
}

.dishes_linkBox {
  a {
    margin: 0 8px;
  }
}

.dishes__searchForm {
  display: inline-block;
}

.dishes__select {
  display: inline-block;
  width: auto;
}

.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}
